@keyframes fade-in-right {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateX(0);
  }
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
    color: black;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in-right {
  animation-name: fade-in-right;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}


/***********/









































































































































